<!-- registrarse -->
<!-- 
<app-navbar></app-navbar> -->
<div>
    <div class = "container">
      <div class = "row" style = "margin-top : 20px;">
        <div class = "col-md-6 offset-md-3"> <!--  dimensiones -->
          
          <mat-card>
          <div class="container text-center">
            <div class="ovalado" align="right">
              <button type="button" (click)="exit()" class="btn btn-secondary ovalado">
                  <i class="fa fa-times"></i></button>
            </div>
            <img src="../../../assets/comprador.png" alt="registro de usuario" width = "100" height = "100">
          </div>
          
          <h2 class="text-center">COMPRADOR</h2>
          <h3 class="text-center">Registrate aquí</h3>
          <form (ngSubmit) = "formSubmit()">
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Primer Nombre</mat-label>
              <input [required]="true" [(ngModel)] = "user.primer_nombre" name = "primer_nombre" matInput placeholder="Ingrese su primer nombre">
              <!-- <mat-hint>El usuario debe ser único</mat-hint> -->
            </mat-form-field>
  
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Segundo Nombre</mat-label>
              <input [required]="true" [(ngModel)] = "user.segundo_nombre" name = "segundo_nombre" matInput placeholder="Ingrese su segundo nombre">
            </mat-form-field>
  
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Primer Apellido</mat-label>
              <input [required]="true" [(ngModel)] = "user.primer_apellido" name = "primer_apellido" matInput placeholder="Ingrese su primer apellido">
            </mat-form-field>
  
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Segundo Apellido</mat-label>
              <input [required]="true" [(ngModel)] = "user.segundo_apellido" name = "segundo_apellido" matInput placeholder="Ingrese su segundo apellido">
            </mat-form-field>
  
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Teléfono</mat-label>
              <input [required]="true" [(ngModel)] = "user.telefono" name = "telefono" matInput placeholder="Ingrese su número telefonico">
            </mat-form-field>
            
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Dirección</mat-label>
              <input [required]="true" [(ngModel)] = "user.direccion" name = "direccion" matInput placeholder="Ingrese su dirección">
            </mat-form-field>
  
            <mat-form-field class="full-width"  appearance = "outline">
              <mat-label>Correo Electronico</mat-label>
              <input [required]="true" [(ngModel)] = "user.correo" name = "correo" type="email" matInput placeholder="Ingrese el email">
            </mat-form-field>
            
  
            <div class="row">
              <div class="col-12 ovalado" align="center">
                  <button class="btn btn-success ovalado">Registrar</button>
                  <button class="btn btn-light ovalado" type="reset"
                      style="margin-left: 20px;">Limpiar</button>
              </div>
          </div>
          </form>
          
          <br><br><br>
        </mat-card>
        </div>
      </div>
    </div>
  </div>
  
  